
/**
 * @file
 * Base CSS for the modernist theme.
 */


/**
 * Reset
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  border: 0;
  font-size: 100.01%;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
}


/**
 * Basic formatting
 */

body {
  background: #fff;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  line-height: 1em;
  text-align: left; /* LTR */
}

h1 {
  color: #222;
  font-size: 2.571em;
  font-weight: normal;
  margin-bottom: 0.286em;
}
h2 {
  color: #222;
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 0.286em;
}
h3 {
  color: #222;
  font-size: 1.571em;
  font-weight: normal;
  margin-bottom: 0.286em;
}
h4 {
  color: #222;
  font-size: 1.286em;
  font-weight: normal;
  margin-bottom: 0.286em;
}
h5 {
  color: #222;
  font-size: 1.143em;
  font-weight: bold;
  margin-bottom: 0.286em;
}
h6 {
  color: #222;
  font-size: 1.143em;
  font-weight: bold;
  margin-bottom: 0.286em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}


ol, ul {
  list-style: none;
}
