
/**
 * @file
 * Right to left layout CSS for the modernist theme.
 */


/**
 * Branding
 */

#logo {
  float: right;
  padding: 0 0 0 40px;
}


/**
 * Main
 */

#content {
  float: right;
  padding: 0 0 0 20px;
}
#sidebar {
  float: left;
  padding: 0 20px 0 0;
}


/**
 * Triptych
 */

#triptych-first {
  float: right;
  padding: 0 0 0 20px;
}
#triptych-middle {
  float: right;
}
#triptych-last {
  float: right;
  padding: 0 20px 0 0;
}
