
/**
 * @file
 * Layout CSS for the modernist theme.
 */

#wrapper {
  margin: 120px auto 40px;
  width: 860px;
}


/**
 * Branding
 */

#logo {
  float: left; /* LTR */
  padding: 0 40px 0 0; /* LTR */
}


/**
 * Main
 */

#content {
  display: inline;
  float: left; /* LTR */
  padding: 0 20px 0 0; /* LTR */
  position: relative;
  width: 560px;
}
.no-sidebars #content {
  float: none;
  width: 860px;
}
#sidebar {
  display: inline;
  float: left; /* LTR */
  padding: 0 0 0 20px; /* LTR */
  position: relative;
  width: 260px;
}


/**
 * Triptych
 */

#triptych-first {
  display: inline;
  float: left; /* LTR */
  padding: 0 20px 0 0; /* LTR */
  position: relative;
  width: 260px;
}
#triptych-middle {
  display: inline;
  float: left; /* LTR */
  padding: 0 20px;
  position: relative;
  width: 260px;
}
#triptych-last {
  display: inline;
  float: left; /* LTR */
  padding: 0 0 0 20px; /* LTR */
  position: relative;
  width: 260px;
}


/**
 * Markup free clearing
 * http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}
