
/**
 * @file
 * Style CSS for the modernist theme.
 */


/**
 * General
 */

body {
  background: transparent url("../images/background.gif") repeat scroll left top;
  color: #444444;
  font-family: Georgia, "Times New Roman", serif;
}

h1 {
  color: #333333;
}
h2 {
  color: #333333;
}
h3 {
  color: #333333;
}
h4 {
  color: #333333;
}
h5 {
  color: #333333;
}
h6 {
  color: #333333;
}


a {
  border-bottom: 1px dotted #ccc;
  color: #21759B;
  text-decoration: none;
}
a:hover {
  color: #1F536C;
}




.block {
  background: transparent url("../images/border.gif") no-repeat scroll left top;
  back ground-color: #fff;
  margin-bottom: 40px;
  padding-top: 15px;
}
.block h2 {
  color: #666666;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.143em;
  font-weight: bold;
  line-height: 1.25em;
  margin-bottom: 0.75em;
  text-transform: uppercase;
}
.xxx-block h3 {
  color: #666666;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.286em;
  margin-bottom: 0.857em;
  text-transform: uppercase;
}
.block .content {
  color: #777777;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
  line-height: 1.333em;
}
.block .content h3 {
  color: #666666;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.167em;
  font-weight: bold;
  line-height: 1.286em;
  margin-bottom: 0.571em;
  text-transform: uppercase;
}
.block .content .item-list {
  margin: 0.571em 0 0.857em;
}

.block-region {
  background-color: transparent;
  border: 2px dashed #1F536C;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 15px 5px;
  text-align: center;
}





/**
 * Navigation
 */

#navigation {
  background: transparent url("../images/border.gif") no-repeat scroll left top;
  back ground-color: #fff;
  margin-bottom: 40px;
  padding-top: 15px;
}
#navigation li {
  display: inline;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
  padding: 0 2em 0 0; /* LTR */
}
#navigation li a {
  border: 0 none;
  color: #555555;
}
#navigation li a:hover {
  color: #21759B;
}
#navigation li.active a {
  color: #333333;
  font-weight: bold;
}


/**
 * Branding
 */

#branding {
  back ground-color: #fff;
  margin-bottom: 80px;
}
#branding h1 {
  font-size: 3.429em;
  line-height: 1em;
  margin: 0;
}
#branding p {
  color: #777777;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 1.143em;
  line-height: 1em;
  margin: 0;
}
#branding img {
  padding-top: 7px;
}
#branding a {
  border: 0 none;
}


/**
 * Content
 */

/* Breadcrumb */
.breadcrumb {
  color: #777777;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
  line-height: 1.333em;
  margin-bottom: 20px;
}

/* Messages */
.messages {
  color: #777777;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
  line-height: 1.333em;
  margin-bottom: 20px;
  padding: 10px;
}
.status {
  border-left: 6px solid #C6D880;
}
.warning {
  border-left: 6px solid #FFD324;
}
.error {
  border-left: 6px solid #FBC2C4;
}


/* Node */
.node {
  margin-bottom: 80px;
}
.node h2 a {
  border: 0 none;
  color: #333333;
}
.node h2 a:hover {
  color: #1F536C;
}



/* Pager */
.item-list .pager {
  background: transparent url("../images/border.gif") no-repeat scroll left top;
  clear: both;
  margin-bottom: 40px;
  padding-top: 14px;
  text-align: left;
}
.item-list .pager li {
  display: inline;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}
.item-list .pager li.pager-current {
  font-weight: bold;
}
.item-list .pager li a {
  color: #21759B;
}
.item-list .pager li a:hover {
  color: #1F536C;
}


/**
 * Sidebar
 */




/**
 * Triptych
 */


/**
 * Footer
 */


/**
 * Credits
 */

#credits {
  background: transparent url("../images/border.gif") no-repeat scroll left top;
  back ground-color: #fff;
  padding-top: 10px;
}
#credits p {
  color: #777777;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.786em;
  line-height: 1.364em;
}
